<div class="row">
	<div class ="col-xs-2 home-right">
		<ul class ='list-group'>
			<div class='media'>
			<li class ="list-group-item"><%= current_user.u_id %> </li>
			<li class ="list-group-item"><%= link_to("Edit Profile", "/"+@user.u_id+"/about" ) %></li>
			</div>
			<hr>
			<li class ="list-group-item"><%= link_to("Feed", '/home') %></li>
			<li class ="list-group-item"><%= link_to("Events", '/about') %></li>
			<li class ="list-group-item"><%= link_to("Groups", "/"+@user.u_id+'/groups') %></li>
			<li class ="list-group-item"><%= link_to("Friends", "/"+@user.u_id+'/friends') %></li>
		</ul>
	</div>
	<div class="col-xs-7">
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<ul class="nav navbar-nav">
      				<li ><button id='_fr' class="btn btn-link" style="color:orange"><%= "Friends("+@count_friends.to_s+")" %></button></li>
      				<li class=""><button id='_fl' class="btn btn-link"><%= "Request Sent("+@count_followings.to_s+")" %></button></li>
      				<li class=""><button id='_rq' class="btn btn-link"><%= "Requests("+@count_requests.to_s+")" %></button></li>
    			
	    			<%= form_for(:search, :html =>{:id =>'search-form', :action => "#"}) do |f| %>
					<%= f.text_field :term ,class:"form-control",placeholder:"Search...", id: "search" %>

	  				<% end %>
  				</ul>
  			</div>
		</nav>

		<div id="dialog">
			<%= form_for(:message, :url => {:controller => 'messages', :action => 'send_message'} , :html =>{:id =>'msg_form'},remote: true) do |f| %>
			<%= f.text_field :content ,class:"comment-text",id:"msg_content" ,placeholder:"Write Message..." %>
			<%= f.text_field :receiver,id: "receiver_id", type: "hidden", value: "" %>
			<button type="submit" class="btn btn-default" >Message</button>
			<% end %>
		</div>

		
		<!-- Post to user's timelne -->
		<div id="dialog_post">
			<%= form_for(:post, :url => {:controller => 'posts', :action => 'send_post'} , :html =>{:id =>'post_form'},remote: true) do |f| %>
			<%= f.text_field :content ,class:"comment-text",id:"post_content" ,placeholder:"Post ..." %>
			<%= f.text_field :posted_to_id,id: "posted_to_id", type: "hidden", value: "" %>
			<button type="submit" class="btn btn-default" >Post</button>
			<% end %>
		</div>	

		<!-- All other Users Post -->
		<div id = "_1">
			<% for @p in @all_friends %>			
				<div class="cuser-post-middle">
	    			<div class='media'>
	    				<div class='col-xs-2'>
							<% if @p[3].blank? %>
								<%= image_tag("boy.jpg", class:'profile-image' , width:'80px', height:'80px') %>
							<% else %>
								<a href='/<%= @p[0]%>/profile/' ><img src="<%= @p[3].med_id.small %>" class="profile-image" /></a>
							<%end %>
						</div>
						<div class='col-xs-10'>
							<% @username = ""
								if !@p[1][0].nil?
									@username = @username + @p[1][0] + " "
								end
								if !@p[1][1].nil?
									@username = @username + @p[1][1] + " "
								end
								if !@p[1][2].nil?
									@username = @username + @p[1][2]
								end

								@userloc = ""
								if !@p[2][0].nil?
									@userloc = @userloc + @p[2][0] + ", "
								end
								if !@p[2][1].nil?
									@userloc = @userloc + @p[2][1] + ", "
								end
								if !@p[2][2].nil?
									@userloc = @userloc + @p[2][2]
								end								
								%>
							<div class='friend-list-right' style="float:right;margin-top:2.5%">
								IIT Bombay

								<div style="margin-top:13%">
									<span class ="glyphicon glyphicon-pencil" onClick = "_send_post_('<%= @p[0] %>')" title = "post" style='font-size:1.7em;margin-right:15%;'></span>
									<!-- <a href="/<%= current_user.u_id %>/messages/?friend=<%= @p[0] %>"> --><span class ="glyphicon glyphicon-envelope" onClick = "_send_msg_('<%= @p[0] %>')" title = "message" style='font-size:1.7em;margin-left:15%;'></span>
								</div>
								
							</div>
							<h4 style="margin-bottom:1%; margin-top:2.5%;"><%= link_to(@username, '/'+@p[0]+'/profile/', :style => "color:#3333ff") %></h4>
							<h6 style="margin-top:0%;">
							<%= link_to(@p[0], '/'+@p[0]+'/profile/') %>
							<br style="margin:0.5% 0% 1% 0%;">
							<%= link_to(@userloc, "google-map") %>
							</h6>
				    	</div>
	    			</div>
	  			</div>
	  			<hr>
			<% end %>
		</div>
		<div id = "_2" style="display:none">
			<% for @p in @all_followings %>
				<div class="cuser-post-middle">
	    			<div class='media'>
	    				<div class='col-xs-2'>
							<% if @p[3].blank? %>
								<%= image_tag("boy.jpg", class:'profile-image' , width:'80px', height:'80px') %>
							<% else %>
								<a href='/<%= @p[0]%>/profile/' ><img src="<%= @p[3].med_id.small %>" class="profile-image" /></a>
							<%end %>
						</div>
						<div class='col-xs-10'>
							<% @username = ""
								if !@p[1][0].nil?
									@username = @username + @p[1][0] + " "
								end
								if !@p[1][1].nil?
									@username = @username + @p[1][1] + " "
								end
								if !@p[1][2].nil?
									@username = @username + @p[1][2]
								end

								@userloc = ""
								if !@p[2][0].nil?
									@userloc = @userloc + @p[2][0] + ", "
								end
								if !@p[2][1].nil?
									@userloc = @userloc + @p[2][1] + ", "
								end
								if !@p[2][2].nil?
									@userloc = @userloc + @p[2][2]
								end								
								%>
							<div class='friend-list-right' style="float:right;margin-top:2.5%">
								IIT Bombay

								<div style="margin-top:13%">
									<span class ="glyphicon glyphicon-pencil" title = "post" style='font-size:1.7em;margin-right:15%;'></span>
									<!-- <a href="/<%= current_user.u_id %>/messages/?friend=<%= @p[0] %>"> --><span class ="glyphicon glyphicon-envelope" onClick = "_send_msg_('<%= @p[0] %>')" title = "message" style='font-size:1.7em;margin-left:15%;'></span>
								</div>
							</div>
							<h4 style="margin-bottom:1%; margin-top:2.5%;"><%= link_to(@username, '/'+@p[0]+'/profile/', :style => "color:#3333ff") %></h4>
							<h6 style="margin-top:0%;">
							<%= link_to(@p[0], '/'+@p[0]+'/profile/') %>
							<br style="margin:0.5% 0% 1% 0%;">
							<%= link_to(@userloc, "google-map") %>
							</h6>
				    	</div>
	    			</div>
	  			</div>
	  			<hr>
			<% end %>
		</div>
		<div id = "_3" style="display:none">
			<% for @p in @all_requests %>
				<div class="cuser-post-middle">
	    			<div class='media'>
	    				<div class='col-xs-2'>
							<% if @p[3].blank? %>
								<%= image_tag("boy.jpg", class:'profile-image' , width:'80px', height:'80px') %>
							<% else %>
								<a href='/<%= @p[0]%>/profile/' ><img src="<%= @p[3].med_id.small %>" class="profile-image" /></a>
							<%end %>
						</div>
						<div class='col-xs-10'>
							<% @username = ""
								if !@p[1][0].nil?
									@username = @username + @p[1][0] + " "
								end
								if !@p[1][1].nil?
									@username = @username + @p[1][1] + " "
								end
								if !@p[1][2].nil?
									@username = @username + @p[1][2]
								end

								@userloc = ""
								if !@p[2][0].nil?
									@userloc = @userloc + @p[2][0] + ", "
								end
								if !@p[2][1].nil?
									@userloc = @userloc + @p[2][1] + ", "
								end
								if !@p[2][2].nil?
									@userloc = @userloc + @p[2][2]
								end								
								%>

							<!-- <div class='friend-list-right' style="float:right;"> -->
								
							<!-- </div> -->

							<div class='friend-list-right' style="float:right;margin-top:2.5%">
								IIT Bombay

								<div style="margin-top:13%">
									<span class ="glyphicon glyphicon-pencil" title = "post" style='font-size:1.7em;margin-right:15%;'></span>
									<!-- <a href="/<%= current_user.u_id %>/messages/?friend=<%= @p[0] %>"> --><span class ="glyphicon glyphicon-envelope" onClick = "_send_msg_('<%= @p[0] %>')" title = "message" style='font-size:1.7em;margin-left:15%;'></span>
								</div>
							</div>
							<h4 style="margin-bottom:1%; margin-top:2.5%;"><%= link_to(@username, '/'+@p[0]+'/profile/', :style => "color:#3333ff") %></h4>
							<h6 style="margin-top:0%;">
							<%= link_to(@p[0], '/'+@p[0]+'/profile/') %>
							<br style="margin:0.5% 0% 1% 0%;">
							<%= link_to(@userloc, "google-map") %>
							</h6>
							<div class= 'friend-button' style="margin-bottom:8%; margin-right:22%;">
								<%= button_to "Accept", {controller:"friends",action:"accept_f"}, remote:true, :method => :post, :form_class => "_friend_btn", :class=>"btn btn-default", params:{ :req => {friend_id: @p[0] }}, :id => "f-button" %>
							</div>
				    	</div>
	    			</div>
	  			</div>
	  			<hr>
			<% end %>
		</div>


		<script>
			$("#_fr").on('click', function() {
				document.getElementById("_fr").style.color = "orange";
				document.getElementById("_fl").style.color = "";
				document.getElementById("_rq").style.color = "";
				document.getElementById("_1").style.display = "";
				document.getElementById("_2").style.display = "none";
				document.getElementById("_3").style.display = "none";
			});

			$("#_fl").on('click', function() {
				document.getElementById("_fr").style.color = "";
				document.getElementById("_fl").style.color = "orange";
				document.getElementById("_rq").style.color = "";
				document.getElementById("_1").style.display = "none";
				document.getElementById("_2").style.display = "";
				document.getElementById("_3").style.display = "none";
			});

			$("#_rq").on('click', function() {
				document.getElementById("_fr").style.color = "";
				document.getElementById("_fl").style.color = "";
				document.getElementById("_rq").style.color = "orange";
				document.getElementById("_1").style.display = "none";
				document.getElementById("_2").style.display = "none";
				document.getElementById("_3").style.display = "";	
			});
		</script>

	</div>
	
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
			    Panel content
			</div>
		</div>
	</div>

</div>
