
<% if @profile.nil? and @user.u_id == current_user.u_id %>
	
	<%= render '/layouts/profile_top_for_noprofile' %>

	<div class = "col-xs-2 sign-right">
	
	</div>
	<div class = "col-xs-7 form-box" style="margin-bottom: 5%">
	<div class="form-top">
	  <div class='form-top-left'>
	    <h3>Help Us to Know You Better!</h3>
	  </div>
	  <div class="form-top-right">
	    <div class='glyphicon glyphicon-pencil'></div>
	  </div>
	</div>

	<div class='form-bottom'>
	  <%= form_for(@newProfile) do |f| %>
	  <div class='form-inline form-group' style="margin-right: -15%">
	  <%= f.text_field :first_name ,class:"form-group form-control required",placeholder:"First Name ..." %>
	  <%= f.text_field :middle_name ,class:"form-group form-control",placeholder:"Middle Name ..." %>
	  <%= f.text_field :last_name ,class:"form-group form-control",placeholder:"Last Name ...", style:"float:right" %>
	  </div>
	  <div class="form-group profile-width">
	  	  <div class="form-control">
		  <i class="fa fa-birthday-cake"></i>
		  <%= f.date_field :birthday, 'data-provide':'datepicker', style:"border-width:0px;border:none;margin-left:10%" ,'data-date-format':'yyyy-mm-dd'%>
		  </div>
	  </div>
	  <div class='form-group profile-width'>
	  	<div class='form-control'>
		  <%= f.radio_button :gender, 'M', checked: true %>
		  <%= label_tag :Male, 'Male' %>
	  	  <%= f.radio_button :gender, 'F' %>
	  	  <%= label_tag :Female, 'Female' %>
	  	  <%= f.radio_button :gender, 'O' %>
	  	  <%= label_tag :Other, 'Other' %>
	  	</div>
	  </div>
	  <div class='form-group'>
	  <label for="sel1">Relationship :</label>
	  <%= f.select :rel_status, ['Single', 'Married', 'In a Relationship', 'Engaged', 'Divorced', 'Widowed','Seperated',"It's complicated"] ,class:"form-control profile-width",placeholder:"Relationship Status..." %>
	  </div>
	  <div class="form-group profile-width">
			<%= f.text_field :language, class:"form-group form-control text-capitalize", placeholder:"Language Known" %>
	  </div>
	  <div class="form-group profile-width">
			<%= f.text_field :country, class:"form-group form-control text-capitalize", placeholder:"Country" %>
	  </div>
	  <div class="form-group profile-width">
			<%= f.text_field :state, class:"form-group form-control text-capitalize", placeholder:"State" %>
	  </div><div class="form-group profile-width">
			<%= f.text_field :city, class:"form-group form-control text-capitalize", placeholder:"City" %>
	  </div>

	  <button type="submit" class="btn btn-default">Create My Profile</button>
	  <% end %>
	  </ul>
	</div>
	</div>
<% elsif !@profile.nil? %>
	<!-- Show uSer details-->
<%= render '/layouts/profile_top' %>

<div class="row" style="margin-top: 20px;">
	<div class="col-lg-8 col-lg-offset-1" style="text-align: left;">
		<div class="row">
			<div class="edithover">
			<p class="col-lg-6 edittitle">
				<span class="editheading">Gender:</span>
				<% if @profile.gender=='M' 
					@gender = 'Male'
					elsif @profile.gender=='F'
					@gender = 'Female'
					else
					@gender = 'Other'
					end %>
				<%= @gender %>
			</p>
			<a href="" class="col-lg-1 editpencil">
				<!-- <i class="fa fa-pencil"></i> -->
			</a>
			</div>
			<div class="col-lg-1"></div>
			<p class="col-lg-4 editinfo">
				<i class="fa fa-birthday-cake"></i>
				<%= @profile.birthday %>
			</p>
		</div>
		<hr class="col-lg-7 editline">

		<div class="row">
			<div class="edithover">
			<p class="col-lg-6 edittitle">
				<span class="editheading">Language:</span>
				<%= @profile.language %>
			</p>
			<a href="" class="col-lg-1 editpencil">
				<!-- <i class="fa fa-pencil">Edit</i> -->
			</a>
			</div>
			<div class="col-lg-1"></div>
			<p class="col-lg-4 editinfo">
				<i class="fa fa-address-book"></i>
				<% @us = User.find(current_user.u_id) %>
				<%= @us.email %>
			</p>
		</div>
		<hr class="col-lg-7 editline">

		<div class="row">
			<div class="edithover">
			<p class="col-lg-6 edittitle">
				<span class="editheading">Relationship Status:</span>
				<%= @profile.rel_status %>
			</p>
			<a href="#" role="button" data-toggle="modal" data-target="#login-modal" class="col-lg-1">
				<i class="fa fa-pencil" style="margin-left:75%;"></i>
			</a>
			</div>
			<div class="col-lg-1"></div>
			<p class="col-lg-4 editinfo">
				<i class="fa fa-lg fa-mobile-phone"></i>
				<%= @us.phone_no %>
			</p>
		</div>
		<hr class="col-lg-7 editline">

		<div class="row">
			<div class="edithover">
			<p class="col-lg-6 edittitle">
				<span class="editheading">Location:</span>
				<% if !@profile.city.nil? %><a href=""><%= @profile.city %></a><% end %>
				<% if !@profile.state.nil? %><a href=""><%= @profile.state %></a><% end %>
				<% if !@profile.country.nil? %><a href=""><%= @profile.country %></a><% end %>

			</p>
			<a href="#" role="button" data-toggle="modal" data-target="#modify_location" class="col-lg-1">
				<i class="fa fa-pencil" style="margin-left:75%;"></i>
			</a>
			</div>
			<div class="col-lg-1"></div>
			
		</div>
		<hr class="col-lg-7 editline">


		<div class="row">
			<p class="col-lg-12 edittitle">
				<span class="editheading">Institutions:</span>
				<a href="#" role="button" data-toggle="modal" data-target="#add_institution" ><i class="glyphicon glyphicon-plus" style="margin-left:40%;"></i></a>
				<br>
				<%	@ins = UserInstitution.where(:u_id => current_user.u_id)
					@ins_details = []
					for @i in @ins
						@ins_details.push(Institution.find(@i.ins_id))
					end
					@ins = @ins.zip(@ins_details)
				%>
				<ul>
				<% for @i in @ins %>
				<li>
				<b><a href=""><%= @i[1].name %></a></b><br>
				<a href=""><%= @i[1].city %></a>
				<a href=""><%= @i[1].state %></a>
				<a href=""><%= @i[1].country %></a>
				
				<!-- <a href="#" role="button" data-toggle="modal" data-target="#add_institution" ><i class="glyphicon glyphicon-pencil" style="float: right;margin-right: 44.5%;"></i></a>
 -->
				<br><span style="margin-left:1%;">From</span> <font color="blue"> <%= @i[0].start %> </font> Till <font color="blue"> <%= @i[0].end %></font>
				</li>
				<br>
				<% end %>
				</ul>
			</p>
		</div>
	</div>
</div>

<div class="modal fade" id="add_institution" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" align="center">
				<%= image_tag("institution.png", class:'profile-image' , width:'160px', height:'160px', onclick:"") %>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
            
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <%= form_for(:new_ins, :url => {:controller => 'institutions', :action => 'new_institute'}, :html => {:id => 'login-form'}) do |f| %>
	                <div class="modal-body">
			    		<div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Add New Institution</span>
                        </div>
                        
			    		<div style="margin-top:1%;">
  						<%= f.text_field :name, :class => "form-control", placeholder:"Name of Institute", required:"true" %>
  						</div>
			    		<div style="margin-top:1%;">
  						<%= f.text_field :country, :class => "form-control", placeholder:"Country", required:"true" %>
  						</div>
			    		<div style="margin-top:1%;">
  						<%= f.text_field :state, :class => "form-control", placeholder:"State" %>
  						</div>
			    		<div style="margin-top:1%;">
  						<%= f.text_field :city, :class => "form-control", placeholder:"City", required:"true" %>
  						</div>
			    		<div style="margin-top:1%;order-width:0px;border:none;margin-left:10%;">
			    		<label>From: </label>
  						<%= f.date_field :start, 'data-provide':'datepicker','data-date-format':'yyyy-mm-dd'%>
  						</div>
			    		<div style="margin-top:1%;order-width:0px;border:none;margin-left:10%">
			    		<label>Till: </label>
  						<%= f.date_field :end, 'data-provide':'datepicker','data-date-format':'yyyy-mm-dd'%>
  						</div>
    		    	</div>
			        <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                        </div>
			    	    
			        </div>
                <% end %>
                <!-- End # Login Form -->
            </div>
            <!-- End # DIV Form -->
            
		</div>
	</div>
</div>
<!-- END # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" align="center">
				<%= image_tag("relationship.jpg", class:'profile-image' , width:'160px', height:'160px', onclick:"") %>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
            
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <%= form_for(:new_rel, :url => {:controller => 'user_profiles', :action => 'update_rel_status'}, :html => {:id => 'login-form'}) do |f| %>
	                <div class="modal-body">
			    		<div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Select Relationship Status</span>
                        </div>
                        
			    		<div style="margin-top:4%; margin-bottom:-4%;margin-left:22%" >
  						<%= f.select :rel_status, ['Single', 'Married', 'In a Relationship', 'Engaged', 'Divorced', 'Widowed','Seperated',"It's complicated"], placeholder:" Relationship Status..." %>
  						</div>
    		    	</div>
			        <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                        </div>
			    	    
			        </div>
                <% end %>
                <!-- End # Login Form -->
            </div>
            <!-- End # DIV Form -->
            
		</div>
	</div>
</div>
<!-- END # MODAL LOGIN -->

<div class="modal fade" id="modify_location" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" align="center">
				<%= image_tag("location.png", class:'profile-image' , width:'160px', height:'160px', onclick:"") %>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
            
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <%= form_for(:new_loc, :url => {:controller => 'user_profiles', :action => 'update_location'}, :html => {:id => 'login-form'}) do |f| %>
	                <div class="modal-body">
			    		<div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Change Location</span>
                        </div>
                        
			    		<div style="margin-top:1%;">
  						<%= f.text_field :country, :class => "form-control", placeholder:"Country", required:"true" %>
  						</div>
			    		<div style="margin-top:1%;">
  						<%= f.text_field :state, :class => "form-control", placeholder:"State" %>
  						</div>
			    		<div style="margin-top:1%;">
  						<%= f.text_field :city, :class => "form-control", placeholder:"City", required:"true" %>
  						</div>

    		    	</div>
			        <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                        </div>
			    	    
			        </div>
                <% end %>
                <!-- End # Login Form -->
            </div>
            <!-- End # DIV Form -->
            
		</div>
	</div>
</div>


<% end %>

<style>
.editline{
	margin-top: 5px;
	margin-bottom: 5px;
}
.edittitle{
	margin-top: 8px;
}
.editinfo{
	margin-top: 8px;
}
.editheading{
	color:  #666666
</style>

<script>
	$(".editpencil").css("visibility","hidden");
	$(".edittitle").hover(function(){
		$(this).siblings(".editpencil").css("visibility","visible");},
		function(){
		$(".editpencil").css("visibility","hidden");
		});
	$(".editpencil").hover(function(){
		$(this).css("visibility","visible");},
		function(){
		$(".editpencil").css("visibility","hidden");
		});
</script>