<%= render '/layouts/profile_top' %>

<% if @profile.nil? and @user.u_id == current_user.u_id %>
	
	<div class = "col-xs-2 sign-right">
	
	</div>
	<div class = "col-xs-7 form-box">
	<h3>Please Create Your Profile</h3>
	<div class="form-top">
	  <div class='form-top-left'>
	    <h2>Create Profile</h2>
	    <small>Let Us know You Better</small>
	  </div>
	  <div class="form-top-right">
	    <div class='glyphicon glyphicon-pencil'></div>
	  </div>
	</div>

	<div class='form-bottom'>
	  <%= form_for(@newProfile) do |f| %>
	  <div class='form-inline'>
	  <%= f.text_field :first_name ,class:"form-group form-control",placeholder:"First Name..." %>
	  <%= f.text_field :last_name ,class:"form-group form-control",placeholder:"Last Name...", style:"float:right" %>
	  </div>
	  <div class="form-group form-control profile-width">
	  Birthday : <%= f.date_field :birthday ,style:"border-width:0px;border:none;" %>
	  </div>
	  <div class='form-group form-control profile-width'>
	  Gender: 
	  <%= f.radio_button :gender, 'M', checked: true %>
	  <%= label_tag :Male, 'Male' %>
	  <%= f.radio_button :gender, 'Female' %>
	  <%= label_tag :Female, 'F' %>
	  </div>
	  <%= f.text_field :rel_status ,class:"form-group form-control profile-width",placeholder:"Relationship Status..." %>

	  <button type="submit" class="btn btn-default">Create</button>
	  <% end %>
	  </ul>
	</div>
	</div>
<% else %>
	<!-- Show uSer details-->
	<%= @profile.first_name %>
	<%= @profile.last_name %>
	<%= @profile.birthday %>
	<%= @profile.rel_status %>
	<%= @profile.gender %>
	
<% end %>