
<% if @profile.nil? and @user.u_id == current_user.u_id %>
	
	<%= render '/layouts/profile_top_for_noprofile' %>

	<div class = "col-xs-2 sign-right">
	
	</div>
	<div class = "col-xs-7 form-box" style="margin-bottom: 5%">
	<div class="form-top">
	  <div class='form-top-left'>
	    <h3>Help Us to Know You Better!</h3>
	  </div>
	  <div class="form-top-right">
	    <div class='glyphicon glyphicon-pencil'></div>
	  </div>
	</div>

	<div class='form-bottom'>
	  <%= form_for(@newProfile) do |f| %>
	  <div class='form-inline form-group' style="margin-right: -15%">
	  <%= f.text_field :first_name ,class:"form-group form-control required",placeholder:"First Name ..." %>
	  <%= f.text_field :middle_name ,class:"form-group form-control",placeholder:"Middle Name ..." %>
	  <%= f.text_field :last_name ,class:"form-group form-control",placeholder:"Last Name ...", style:"float:right" %>
	  </div>
	  <div class="form-group profile-width">
	  	  <div class="form-control">
		  <i class="fa fa-birthday-cake"></i>
		  <%= f.date_field :birthday, 'data-provide':'datepicker', style:"border-width:0px;border:none;margin-left:10%" ,'data-date-format':'yyyy-mm-dd'%>
		  </div>
	  </div>
	  <div class='form-group profile-width'>
	  	<div class='form-control'>
		  <%= f.radio_button :gender, 'M', checked: true %>
		  <%= label_tag :Male, 'Male' %>
	  	  <%= f.radio_button :gender, 'F' %>
	  	  <%= label_tag :Female, 'Female' %>
	  	  <%= f.radio_button :gender, 'O' %>
	  	  <%= label_tag :Other, 'Other' %>
	  	</div>
	  </div>
	  <div class='form-group'>
	  <label for="sel1">Relationship :</label>
	  <%= f.select :rel_status, ['Single', 'Married', 'In a Relationship', 'Engaged', 'Divorced', 'Widowed','Seperated',"It's complicated"] ,class:"form-control profile-width",placeholder:"Relationship Status..." %>
	  </div>
	  <div class="form-group profile-width">
			<%= f.text_field :language, class:"form-group form-control text-capitalize", placeholder:"Language Known" %>
	  </div>
	  <div class="form-group profile-width">
			<%= f.text_field :country, class:"form-group form-control text-capitalize", placeholder:"Country" %>
	  </div>
	  <div class="form-group profile-width">
			<%= f.text_field :state, class:"form-group form-control text-capitalize", placeholder:"State" %>
	  </div><div class="form-group profile-width">
			<%= f.text_field :city, class:"form-group form-control text-capitalize", placeholder:"City" %>
	  </div>

	  <button type="submit" class="btn btn-default">Create My Profile</button>
	  <% end %>
	  </ul>
	</div>
	</div>
<% else %>
	<!-- Show uSer details-->
<%= render '/layouts/profile_top' %>

<div class="row" style="margin-top: 20px;">
	<div class="col-lg-8 col-lg-offset-1" style="text-align: left;">
		<div class="row">
			<div class="edithover">
			<p class="col-lg-6 edittitle">
				<span class="editheading">Gender:</span>
				<% if @profile.gender=='M' 
					@gender = 'Male'
					elsif @profile.gender=='F'
					@gender = 'Female'
					else
					@gender = 'Other'
					end %>
				<%= @gender %>
			</p>
			<a href="" class="col-lg-1 editpencil">
				<!-- <i class="fa fa-pencil"></i> -->
			</a>
			</div>
			<div class="col-lg-1"></div>
			<p class="col-lg-4 editinfo">
				<i class="fa fa-birthday-cake"></i>
				<%= @profile.birthday %>
			</p>
		</div>
		<hr class="col-lg-7 editline">

		<div class="row">
			<div class="edithover">
			<p class="col-lg-6 edittitle">
				<span class="editheading">Language:</span>
				<%= @profile.language %>
			</p>
			<a href="" class="col-lg-1 editpencil">
				<!-- <i class="fa fa-pencil">Edit</i> -->
			</a>
			</div>
			<div class="col-lg-1"></div>
			<p class="col-lg-4 editinfo">
				<i class="fa fa-address-book"></i>
				<% @us = User.find(current_user.u_id) %>
				<%= @us.email %>
			</p>
		</div>
		<hr class="col-lg-7 editline">

		<div class="row">
			<div class="edithover">
			<p class="col-lg-6 edittitle">
				<span class="editheading">Relationship Status:</span>
				<%= @profile.rel_status %>
			</p>
			<a href="" class="col-lg-1 editpencil">
				<i class="fa fa-pencil">Edit</i>
			</a>
			</div>
			<div class="col-lg-1"></div>
			<p class="col-lg-4 editinfo">
				<i class="fa fa-lg fa-mobile-phone"></i>
				<%= @us.phone_no %>
			</p>
		</div>
		<hr class="col-lg-7 editline">

		<div class="row">
			<p class="col-lg-12 edittitle">
				<span class="editheading">Institutions:</span>
				<br>
				<%	@ins = UserInstitution.where(:u_id => current_user.u_id)
					@ins_details = []
					for @i in @ins
						@ins_details.push(Institution.find(@i.ins_id))
					end
					@ins = @ins.zip(@ins_details)
				%>
				<ul>
				<% for @i in @ins %>
				<li>
				<b><%= @i[1].name %></b><br>
				<%= @i[1].city %>
				<%= @i[1].state %>
				<%= @i[1].country %>
				<br><p>From: <%= @i[0].start %> To: <%= @i[0].end %></p>
				</li>
				<% end %>
				</ul>
			</p>
		</div>
	</div>
</div>
	
<% end %>

<style>
.editline{
	margin-top: 5px;
	margin-bottom: 5px;
}
.edittitle{
	margin-top: 8px;
}
.editinfo{
	margin-top: 8px;
}
.editheading{
	color:  #666666
</style>

<script>
	$(".editpencil").css("visibility","hidden");
	$(".edittitle").hover(function(){
		$(this).siblings(".editpencil").css("visibility","visible");},
		function(){
		$(".editpencil").css("visibility","hidden");
		});
	$(".editpencil").hover(function(){
		$(this).css("visibility","visible");},
		function(){
		$(".editpencil").css("visibility","hidden");
		});
</script>