<%= render '/layouts/profile_top' %>

<% if @profile.nil? and @user.u_id == current_user.u_uid %>
	<h3>Please Create Your Profile</h3>
	<div class = "col-xs-4 sign-right">
	
	</div>
	<div class = "col-xs-8 form-box">

	<div class="form-top">
	  <div class='form-top-left'>
	    <h2>Create Profile</h2>
	    <small>Let Us know You Better</small>
	  </div>
	  <div class="form-top-right">
	    <div class='glyphicon glyphicon-pencil'></div>
	  </div>
	</div>

	<div class='form-bottom'>
	  <%= form_for(@newProfile) do |f| %>
	  <div class='form-inline'>
	  <%= f.text_field :first_name ,class:"form-group form-control",placeholder:"First Name..." %>
	  <%= f.text_field :last_name ,class:"form-group form-control",placeholder:"Last Name..." %>
	  </div>
	  <div class ='form-inline'>
	  <%= radio_button_tag :gender, 'Male', @profile.gender == :Male %> 
	  <%= label_tag :Male, 'Male' %>
	  <%= radio_button_tag :gender, 'Female', @profile.gender == :Female %> 
	  <%= label_tag :Female, 'Female' %>
	  </div>
	  <%= f.text_field :email ,class:"form-group form-control",placeholder:"Email..."%>
	  <%= f.text_field :phone_no ,class:"form-group form-control",placeholder:"Phone..."%>
	  <%= f.password_field :password ,class:"form-group form-control",placeholder:"Password..."%>
	  <%= f.password_field :password_confirmation ,class:"form-group form-control",placeholder:"Confirm Password..."%>
	  <%= f.submit :Signup, class: "btn btn-primary btn-width" %>
	  <% end %>
	  <% if @user.errors.any? %>
	  <ul class="Signup_Errors">
	  <% for message_error in @user.errors.full_messages %>
	    <li>* <%= message_error %></li>
	  <% end %>
	  </ul>
	<% end %>
	</div>
	</div>
	
