<div class="row">
	<div class ="col-xs-2 home-right">
		<ul class ='list-group'>
			<div class='media'>
			<li class ="list-group-item"><%= current_user.u_id %> </li>
			<li class ="list-group-item"><%= link_to("Edit Profile", "/"+@user.u_id+"/about" ) %></li>
			</div>
			<hr>
			<li class ="list-group-item"><%= link_to("Feed", '/home') %></li>
			<li class ="list-group-item"><%= link_to("Events", '/about') %></li>
			<li class ="list-group-item"><%= link_to("Groups", "/"+@user.u_id+'/groups') %></li>
			<li class ="list-group-item"><%= link_to("Friends", "/"+@user.u_id+'/friends') %></li>
		</ul>
	</div>
	<div class="col-xs-7">
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<ul class="nav navbar-nav">
      				<li ><button id='_gr' class="btn btn-link" style="color:orange"><%= "My Groups("+@count_groups.to_s+")" %></button></li>
      				<li class=""><button id='_gj' class="btn btn-link" ><%= "Joined Groups("+@count_joined.to_s+")" %></button></li>
      				<li class=""><button id='_gs' class="btn btn-link"><%= "Request Sent("+@count_requested.to_s+")" %></button></li>
      				<li class=""><button id='_gi' class="btn btn-link"><%= "Invitations("+@count_invited.to_s+")" %></button></li>
      				<li class=""><a href="#" role="button" data-toggle="modal" data-target="#create_group" ><i class="glyphicon glyphicon-plus" style="margin-left:40%;"></i></a></li>

      				
    			
	    			<%= form_for(:search_group, :html =>{:id =>'search-form_group', :action => "#"}) do |f| %>
					<%= f.text_field :term ,class:"form-control",placeholder:"Search...", id: "search_group" %>

	  				<% end %>
  				</ul>
  			</div>
		</nav>

	
<div class="modal fade" id="create_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" align="center">
				<%= image_tag("institution.png", class:'profile-image' , width:'160px', height:'160px', onclick:"") %>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
            
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <%= form_for(:new_ins, :url => {:controller => 'institutions', :action => 'new_institute'}, :html => {:id => 'login-form'}) do |f| %>
	                <div class="modal-body">
			    		<div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Add New Institution</span>
                        </div>
                        
			    		<div style="margin-top:1%;">
  						<%= f.text_field :name, :class => "form-control", placeholder:"Name of Institute", required:"true" %>
  						</div>
			    		<div style="margin-top:1%;">
  						<%= f.text_field :country, :class => "form-control", placeholder:"Country", required:"true" %>
  						</div>
			    		<div style="margin-top:1%;">
  						<%= f.text_field :state, :class => "form-control", placeholder:"State" %>
  						</div>
			    		<div style="margin-top:1%;">
  						<%= f.text_field :city, :class => "form-control", placeholder:"City", required:"true" %>
  						</div>
			    		<div style="margin-top:1%;order-width:0px;border:none;margin-left:10%;">
			    		<label>From: </label>
  						<%= f.date_field :start, 'data-provide':'datepicker','data-date-format':'yyyy-mm-dd'%>
  						</div>
			    		<div style="margin-top:1%;order-width:0px;border:none;margin-left:10%">
			    		<label>Till: </label>
  						<%= f.date_field :end, 'data-provide':'datepicker','data-date-format':'yyyy-mm-dd'%>
  						</div>
    		    	</div>
			        <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                        </div>
			    	    
			        </div>
                <% end %>
                <!-- End # Login Form -->
            </div>
            <!-- End # DIV Form -->
            
		</div>
	</div>
</div>

	<!-- All other Users Post -->
		<div id = "_1">
			<% for @p in @all_groups %>			
				<div class="cuser-post-middle">
	    			<div class='media'>
	    				<div class='col-xs-2'>
							<% if @p[2].blank? %>
								<%= image_tag("group.jpeg", class:'profile-image' , width:'80px', height:'60px') %>
							<% else %>
								<a href='/group/?page_id=<%= @p[0]%>' ><img src="<%= @p[2].med_id.sgroup %>" class="profile-image" /></a>
							<%end %>
						</div>
						<div class='col-xs-10'>
							
							<div class='friend-list-right' style="float:right;margin-top:0%">
								<!-- IIT Bombay -->
								Total Members : <%= @p[3] %>
								<br>
								<% if @p[4] != 0 %><%= @p[4] %><% else %>No<% end %> mutual friends joined 
								<div >
									
								</div>
								
							</div>
							<h4 style="margin-bottom:1%; margin-top:0%;"><%= link_to(@p[1][0], '/group/?page_id='+@p[0], :style => "color:#3333ff") %></h4>
							<h6 style="margin-top:0%;">
							<%= link_to(@p[1][1], '/group/?page_id='+@p[0]) %>
							
							</h6>
				    	</div>
	    			</div>
	  			</div>
	  			<hr>
			<% end %>
		</div>
		<div id = "_2" style="display:none">
			<% for @p in @all_joined %>
				<div class="cuser-post-middle">
	    			<div class='media'>
	    				<div class='col-xs-2'>
							<% if @p[2].blank? %>
								<%= image_tag("boy.jpg", class:'profile-image' , width:'80px', height:'60px') %>
							<% else %>
								<a href='/group/?page_id=<%= @p[0]%>' ><img src="<%= @p[2].med_id.sgroup %>" class="profile-image" /></a>
							<%end %>
						</div>
						<div class='col-xs-10'>
							
							<div class='friend-list-right' style="float:right;margin-top:0%">
								<!-- IIT Bombay -->
								Total Members : <%= @p[3] %>
								<br>
								<% if @p[4] != 0 %><%= @p[4] %><% else %>No<% end %> mutual friends joined 
								<div>
									
								</div>
							</div>
							<h4 style="margin-bottom:1%; margin-top:0%;"><%= link_to(@p[1][0], '/group/?page_id='+@p[0], :style => "color:#3333ff") %></h4>
							<h6 style="margin-top:0%;">
							<%= link_to(@p[1][1], '/group/?page_id='+@p[0]) %>
							
							</h6>
				    	</div>
	    			</div>
	  			</div>
	  			<hr>
			<% end %>
		</div>
		<div id = "_3" style="display:none">
			<% for @p in @all_requested %>
				<div class="cuser-post-middle">
	    			<div class='media'>
	    				<div class='col-xs-2'>
							<% if @p[2].blank? %>
								<%= image_tag("boy.jpg", class:'profile-image' , width:'80px', height:'60px') %>
							<% else %>
								<a href='/group/?page_id=<%= @p[0]%>' ><img src="<%= @p[2].med_id.sgroup %>" class="profile-image" /></a>
							<%end %>
						</div>
						<div class='col-xs-10'>
							
							<!-- <div class='friend-list-right' style="float:right;"> -->
								
							<!-- </div> -->

							<div class='friend-list-right' style="float:right;margin-top:0%">
								<!-- IIT Bombay -->
								Total Members : <%= @p[3] %>
								<br>
								<% if @p[4] != 0 %><%= @p[4] %><% else %>No<% end %> mutual friends joined 
								<div>
									
								</div>
							</div>
							<h4 style="margin-bottom:1%; margin-top:0%;"><%= link_to(@p[1][0], '/group/?page_id='+@p[0], :style => "color:#3333ff") %></h4>
							<h6 style="margin-top:0%;">
							<%= link_to(@p[1][1], '/group/?page_id='+@p[0]) %>
							</h6>
							<div class= 'friend-button' style="margin-bottom:8%; margin-right:22%;">
								<%= button_to "Waiting", {controller:"group_pages",action:"cancel_request_to_group"}, remote:true, :method => :post, :form_class => "_page_btn", :class=>"btn btn-default", params:{ :req => {page_id: @p[0] }}, :id => "p-button" %>
							</div>
				    	</div>
	    			</div>
	  			</div>
	  			<hr>
			<% end %>
		</div>
		<div id = "_4" style="display:none">
			<% for @p in @all_invited %>
				<div class="cuser-post-middle">
	    			<div class='media'>
	    				<div class='col-xs-2'>
							<% if @p[2].blank? %>
								<%= image_tag("boy.jpg", class:'profile-image' , width:'80px', height:'60px') %>
							<% else %>
								<a href='/group/?page_id=<%= @p[0]%>' ><img src="<%= @p[2].med_id.sgroup %>" class="profile-image" /></a>
							<%end %>
						</div>
						<div class='col-xs-10'>
							
							<!-- <div class='friend-list-right' style="float:right;"> -->
								
							<!-- </div> -->

							<div class='friend-list-right' style="float:right;margin-top:0%">
								<!-- IIT Bombay -->
								Total Members : <%= @p[3] %>
								<br>
								<% if @p[4] != 0 %><%= @p[4] %><% else %>No<% end %> mutual friends joined 
								<div style="margin-top:13%">
									
								</div>
							</div>
							<h4 style="margin-bottom:1%; margin-top:0%;"><%= link_to(@p[1][0], '/group/?page_id='+@p[0], :style => "color:#3333ff") %></h4>
							<h6 style="margin-top:0%;">
							<%= link_to(@p[1][1], '/group/?page_id='+@p[0]) %>
							<br style="margin:0.5% 0% 1% 0%;">
							<div class= 'friend-button' style="margin-bottom:8%; margin-right:22%;">
								<%= button_to "Accept Invitation to Join", {controller:"group_pages",action:"accept_invite_to_group"}, remote:true, :method => :post, :form_class => "_page_btn", :class=>"btn btn-default", params:{ :req => {page_id: @p[0] }}, :id => "p-button" %>
							</div>
				    	</div>
	    			</div>
	  			</div>
	  			<hr>
			<% end %>
		</div>


		<script>
			$("#_gr").on('click', function() {
				document.getElementById("_gr").style.color = "orange";
				document.getElementById("_gj").style.color = "";
				document.getElementById("_gs").style.color = "";
				document.getElementById("_gi").style.color = "";
				document.getElementById("_1").style.display = "";
				document.getElementById("_2").style.display = "none";
				document.getElementById("_3").style.display = "none";
				document.getElementById("_4").style.display = "none";
			});

			$("#_gj").on('click', function() {
				document.getElementById("_gr").style.color = "";
				document.getElementById("_gj").style.color = "orange";
				document.getElementById("_gs").style.color = "";
				document.getElementById("_gi").style.color = "";
				document.getElementById("_1").style.display = "none";
				document.getElementById("_2").style.display = "";
				document.getElementById("_3").style.display = "none";
				document.getElementById("_4").style.display = "none";
			});

			$("#_gs").on('click', function() {
				document.getElementById("_gr").style.color = "";
				document.getElementById("_gj").style.color = "";
				document.getElementById("_gs").style.color = "orange";
				document.getElementById("_gi").style.color = "";
				document.getElementById("_1").style.display = "none";
				document.getElementById("_2").style.display = "none";
				document.getElementById("_3").style.display = "";	
				document.getElementById("_4").style.display = "none";
			});

			$("#_gi").on('click', function() {
				document.getElementById("_gr").style.color = "";
				document.getElementById("_gj").style.color = "";
				document.getElementById("_gs").style.color = "";
				document.getElementById("_gi").style.color = "orange";
				document.getElementById("_1").style.display = "none";
				document.getElementById("_2").style.display = "none";
				document.getElementById("_3").style.display = "none";	
				document.getElementById("_4").style.display = "";
			});
		</script>

	</div>
	
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
			    Panel content
			</div>
		</div>
	</div>

</div>
