<%= render '/layouts/page_top' %>
<div class='container' style="margin-bottom:5%">
	<div class="col-xs-2">
		<% unless @profile.nil? %>
		<div class='intro-top'>
			<h3>Introduction</h3>
		</div>
		<div class='intro-bottom'>
			<ul>
				<% unless @profile.birthday.nil? %>
					<li><%= @profile.birthday %></li>
				<% end %>
				<% unless @profile.rel_status.blank? %>
					<li><%= @profile.rel_status %></li>
				<% end %>
					<% unless @profile.country.blank? %>
					<li><%= @profile.country %></li>
				<% end %>
				<% unless @profile.state.blank? %>
					<li><%= @profile.state %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</div>
	<div id="dialog">
			<%= form_for(:message, :url => {:controller => 'messages', :action => 'send_message'} , :html =>{:id =>'msg_form'},remote: true) do |f| %>
			<%= f.text_field :content ,class:"comment-text",id:"msg_content" ,placeholder:"Write Message..." %>
			<%= f.text_field :receiver,id: "receiver_id", type: "hidden", value: "" %>
			<button type="submit" class="btn btn-default" >Message</button>
			<% end %>
		</div>
		<!-- Post to user's timelne -->
		<div id="dialog_post">
			<%= form_for(:post, :url => {:controller => 'posts', :action => 'send_post'} , :html =>{:id =>'post_form'},remote: true) do |f| %>
			<%= f.text_field :content ,class:"comment-text",id:"post_content" ,placeholder:"Post ..." %>
			<%= f.text_field :posted_to_id,id: "posted_to_id", type: "hidden", value: "" %>
			<button type="submit" class="btn btn-default" >Post</button>
			<% end %>
		</div>	

	<div class="col-xs-7">
					<!-- Current USer Post --> 
	    	<div class="cuser-post-top">
	    		<div class="cuser-post-top-left">
	    			
	    		</div>
	    		<div class="cuser-post-top-right">
	    		</div>
	    	</div>
	    	
			 <!-- All other Users Post -->
		<div id = "_1">
			<% if !@all_members.blank? %>
			<% for @p in @all_members %>			
				<div class="cuser-post-middle">
	    			<div class='media'>
	    				<div class='col-xs-2'>
							<% if @p[3].blank? %>
								<%= image_tag("boy.jpg", class:'profile-image' , width:'80px', height:'80px') %>
							<% else %>
								<a href='/<%= @p[0]%>/profile/' ><img src="<%= @p[3].med_id.small %>" class="profile-image" /></a>
							<%end %>
						</div>
						<div class='col-xs-10'>
							<% @username = ""
								if !@p[1][0].nil?
									@username = @username + @p[1][0] + " "
								end
								if !@p[1][1].nil?
									@username = @username + @p[1][1] + " "
								end
								if !@p[1][2].nil?
									@username = @username + @p[1][2]
								end

								@userloc = ""
								if !@p[2][0].nil?
									@userloc = @userloc + @p[2][0] + ", "
								end
								if !@p[2][1].nil?
									@userloc = @userloc + @p[2][1] + ", "
								end
								if !@p[2][2].nil?
									@userloc = @userloc + @p[2][2]
								end								
								%>
							<div class='friend-list-right' style="float:right;margin-top:2.5%">

								<div style="margin-top:13%">
									<% if !@admin.nil? %>
										<%= button_to "Invite", {controller:"group_pages",action:"invite_member_to_group"}, remote:true, :method => :post, :form_class => "_page_btn2", :class=>"btn btn-default", params:{ :req => {page_id: @page.page_id, u_id: @p[0] }}, :id => "p-button2" %>
									<% end %>
								</div>
								
							</div>
							<h4 style="margin-bottom:1%; margin-top:2.5%;"><%= link_to(@username, '/'+@p[0]+'/profile/', :style => "color:#3333ff") %></h4>
							<h6 style="margin-top:0%;">
							<%= link_to(@p[0], '/'+@p[0]+'/profile/') %>
							<br style="margin:0.5% 0% 1% 0%;">
							<%= link_to(@userloc, "google-map") %>
							</h6>
				    	</div>
	    			</div>
	  			</div>
	  			<hr>
	  		<% end %>
	  		<% end %>
		</div>

		</div>
		<div class="col-xs-3">
		
		</div>
</div>