<div class="well well-sm">
 	<div class="user-post-top">
 		<div>
 			<span style="float:left"> <%= @p.posted_by_id %> </span>
 			<span style="float:left"> <%= @p.city %> </span>
 			<span style="float:left"> <%= @p.country %> </span>
 			<span style="float:right"> <%= @p.updated_at %> </span>
 		</div>
 	</div>
 	<div class="user-post-middle">
 		<%= @p.content %>
 	</div>
 	<hr>
 	<div class="user-post-bottom">
 		<%= form_tag({controller: "comments", action: "create"}, method: "post", class:"") do %>
			<%= text_field_tag :content ,"",class:"",placeholder:"Comment" %>
			<%= text_field_tag :parent_id, @p.p_id, type: "hidden", readonly: "true" %>
			<button type="submit" class="btn btn-default" style="display:none" >Comment</button>
		<% end %>
 	</div>
 </div>