<div class="well well-sm" style="padding-bottom:0%;margin-bottom:0%;">
 	<div class="user-post-top">
 		<div>
 			<span style="float:left"> <%= @p.posted_by_id %> </span>
 			<span style="float:left"> <%= @p.city %> </span>
 			<span style="float:left"> <%= @p.country %> </span>
 			<span style="float:right"> <%= @p.updated_at %> </span>
 		</div>
 	</div>
 	<div class="user-post-middle">
 		<%= @p.content %>
 	</div>
 	<hr>
 	<div class="user-post-bottom">
 		<button id='like' class='btn btn-default' style="height:10%;padding:0.5% 2% 0% 2%;border:none;background:#f3f3f3" ><span  class='glyphicon glyphicon-thumbs-up'></span></button>
 		<button  class='btn btn-default comment-show' data-show=<%= @p.p_id %>  style="height:10%;padding:0.5% 2% 0% 2%;border:none;background:#f3f3f3">Comment</button>
 	</div>
 </div>
 <div>
 <div class="comment-section" id= <%= @p.p_id %> style="margin-bottom:0%; display:none;">
 	<div class="one-comment">
		<a class="comment-left" href="">
			<%= image_tag("boy.jpg", class:'comment-image' ) %>
		</a>
		<div class="comment-right">
			<b class="comment-head"><%= @p.posted_by_id %></b>
			Asdfasdfasd
		</div>
 	</div>
 	<div>
 		<%= form_for(:comment, :url => {:controller => 'comments', :action => 'create'} , :html =>{:id =>'comment-post'},remote: true) do |f| %>
			<%= f.text_field :content ,class:"comment-text",placeholder:"Write Comment..." %>
			<%= f.text_field :parent_id, value: @p.p_id, type: "hidden", readonly: "true" %>
			<button type="submit" class="btn btn-default" style="display:none" ></button>
		<% end %>
	</div>
 	</div>
 </div>
 <br>