<div class='container'>
	<div class ='col-xs-0'>
	</div>
	<div class = 'col-xs-9'>
		<div class = 'profile-top'>
			<div class ='profile-image'>
					<% if @dp.blank? %>
						<%= image_tag("boy.jpg", class:'profile-image' , width:'160px', height:'160px', onclick:"dpupload()") %>
					<% else %>
						<img src="<%= @dp.med_id.small %>" class="profile-image" onclick='dpupload()'/>
					<%end %>
					<% if current_user.u_id == @user.u_id %>
						<%= form_for @blob, :html => {:multipart => true, :style => 'display:none'},:remote => 'true', :authenticity_token => true  do |f| %>
	    				<%= f.file_field :med_id , type:"file", id:"dp_file" %>
	    				<%= f.text_field :content, type:"hidden" ,value:"profile_pic"%>
	    				<%= f.submit :submit ,id:'dp_submit' %>
						<% end %>
						<p class='dp-upload'>Change Profile Picture</p>
					<% end %>
					

			</div>
			<div class= 'friend-button'>
			<% if @status == "cnf" %>
				<%= button_to "Friend, Click to Unfriend", {controller:"friends",action:"unfriend_f"}, remote:true, :method => :post, :class=>"btn btn-default", params:{ :req => {friend_id: @user.u_id }} ,:id => "f-button" %>
			<% elsif @status == "frs" %>
				<%= button_to "Freind Request Sent, Click to cancel", {controller:"friends",action:"cancel_f"}, remote:true, :method => :post, :class=>"btn btn-default", params:{ :req => {friend_id: @user.u_id }}, :id => "f-button" %>
			<% elsif @status == "afr" %>
				<%= button_to "Accept Friend Request", {controller:"friends",action:"accept_f"}, remote:true, :method => :post, :class=>"btn btn-default", params:{ :req => {friend_id: @user.u_id }}, :id => "f-button" %>
				<!-- <button class ='btn btn-default' id='accept' data-id="<%= @user.u_id %>">Accept Request</button> -->
			<% else %>
			<%= button_to "Send Friend Request", {controller:"friends",action:"request_f"},:class=> "btn btn-default", remote:true,:method => :post, params:{ :req=> {friend_id: @user.u_id }} ,:id => "f-button"%>
			<% end %>
			</div>
		</div>
		<hr>
		<div class ='profile-bottom'>
			<div class='row vdivide'>
				<%= link_to('Feed' , 'profile')%>
				<%=  %>	
				<%= link_to('About' ,'about')  %>
				<%= link_to('Friends', 'friends') %>
				<%= link_to('Photos', 'media') %>
			</div>
		</div>
	</div>
	<div class = 'col-xs-3'>
	</div>
</div>

<script>
function dpupload()
{
 $("#dp_file").click();
 console.log("DP UPLOAD");
}

$("#dp_file").on('change',function() {
	console.log("submitted")
    $("#dp_submit").click();
});
//ajax success request of photo change
$(document).on("ajax:success", ".dp_submit", function(event, data, status, xhr) {
    alert(data);
});
</script>