<div class='container'>
	<div class ='col-xs-0'>
	</div>
	<div class = 'col-xs-9'>
		<div class = 'profile-top'>
			<div class ='profile-image'>
			</div>
			<div class= 'friend-button'>
			<% if @status == "cnf" %>
				<%= button_to "Friend, Click to Unfriend", {controller:"friends",action:"unfriend_f"}, remote:true, :method => :post, :class=>"btn btn-default", params:{ :req => {friend_id: @user.u_id }} ,:id => "f-button" %>
			<% elsif @status == "frs" %>
				<%= button_to "Freind Request Sent, Click to cancel", {controller:"friends",action:"cancel_f"}, remote:true, :method => :post, :class=>"btn btn-default", params:{ :req => {friend_id: @user.u_id }}, :id => "f-button" %>
			<% elsif @status == "afr" %>
				<%= button_to "Accept Friend Request", {controller:"friends",action:"accept_f"}, remote:true, :method => :post, :class=>"btn btn-default", params:{ :req => {friend_id: @user.u_id }}, :id => "f-button" %>
				<!-- <button class ='btn btn-default' id='accept' data-id="<%= @user.u_id %>">Accept Request</button> -->
			<% else %>
			<%= button_to "Send Friend Request", {controller:"friends",action:"request_f"},:class=> "btn btn-default", remote:true,:method => :post, params:{ :req=> {friend_id: @user.u_id }} ,:id => "f-button"%>
			<% end %>
			</div>
		</div>
		<hr>
		<div class ='profile-bottom'>
			<div class='row vdivide'>
				<%= link_to('Feed' , 'profile')%>
				<%=  %>	
				<%= link_to('About' ,'about')  %>
				<%= link_to('Friends', 'friends') %>
				<%= link_to('Photos', 'media') %>
			</div>
		</div>
	</div>
	<div class = 'col-xs-3'>
	</div>
</div>