<div class='container'>
	<div class ='col-xs-0'>
	</div>
	<div class = 'col-xs-9'>
		<div class = 'profile-top'>
			<div class ='profile-image'>
			</div>
		</div>
		<hr>
		<div class ='profile-bottom'>
			<div class='row vdivide'>
				<%= link_to('Feed' , 'profile')%>
				<%=  %>	
				<%= link_to('About' ,'about')  %>
				<%= link_to('Friends', 'friends') %>
				<%= link_to('Photos', 'media') %>
			</div>
		</div>
	</div>
	<div class = 'col-xs-3'>
	</div>
</div>